$color-background-grey: #e5e5e5;
$color-lightest-grey: #f4f3ee;
$color-text-grey: #8d8d8d;
$color-white: #ffffff;
$color-darkest-grey: #262626;
$color-heading: #463f3a;
$color-light-grey: #e2e2e2;
$color-purple: #c32c72;

body {
  background: $color-background-grey;
}
