/**Custom Bootstrap Varibles*/
$primary: #c32c72;
$dark: #262626;
$navbar-light-color: #f4f3ee;
$border-radius: 10px;

/*Custom variables*/

$heading-color: #463f3a;
$text-color: #8d8d8d;
$backround-grey: #e5e5e5;
