html,
body {
  height: 100%;
}

body {
  background-color: $background-grey !important;
  display: flex !important;
  flex-direction: column !important;

  h1 {
    text-align: center;
    margin: 50px 0 50px 0 !important;
    font-size: 1.6rem !important;
    color: $heading-color;
  }
}

.navbar {
  color: $navbar-light-color;
  text-transform: uppercase;

  .navbar-brand {
    color: $dark !important;
    font-weight: bolder !important;
    font-size: 25px;
  }

  .navbar-toggler-icon {
    background-color: $primary;
  }
}

.nav-item {
  a {
    color: $text-color !important;
    font-size: 14px;
  }
}

.card {
  background-color: $navbar-light-color !important;
  border-radius: $border-radius;
  margin-bottom: 25px;
  box-shadow: 2px 3px 30px -16px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 3px 30px -16px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 3px 30px -16px rgba(0, 0, 0, 0.6);

  &__outline {
    border: 2px solid $primary !important;
  }

  &__filled {
    background-color: $primary !important;
  }
}

footer {
  position: sticky;
  top: 100%;
  .footer-container {
    background-color: $navbar-light-color;
  }

  p {
    margin-bottom: 0;
  }

  .container {
    display: flex;
    flex-shrink: 0 !important;
    justify-content: space-between;
    margin-top: 0;
    font-size: 0.8em;
    color: #8d8d8d;
    padding: 0.5em;
    align-items: center;
    padding: 1em !important;
  }
}
