html,
body {
  height: 100%;
}

body {
  background-color: $backround-grey !important;
}

.navbar-brand {
  color: $dark !important;
  font-weight: bolder !important;
}

.navbar {
  color: $navbar-light-color;
  text-transform: uppercase;
}

.navbar-light .navbar-nav a:active {
  color: $primary !important;
}

.navbar-light .navbar-nav a {
  color: $text-color !important;
  font-size: 14px;
}

.navbar-toggler .navbar-toggler-icon {
  color: $dark !important;
}

h1 {
  text-align: center;
  margin: 50px 0 50px 0 !important;
  font-size: 1.6rem !important;
  color: $heading-color;
}

.card {
  background-color: $navbar-light-color !important;
  border-radius: $border-radius;
  margin-bottom: 25px;
}

footer {
  display: flex;

  //   flex-shrink: 0;
  justify-content: space-between;
  background-color: $navbar-light-color;
  margin-top: 2rem;
  font-size: 0.8em;
  color: #8d8d8d;
  padding: 0.5em;
}
